### Exploratory Data Analysis of Sales and Customer patterns EDA

### Importing libraries

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from scipy import stats 
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_item = pd.read_csv(r'C:\Users\user\Desktop\ekta\DBDA_CDAC\Project\olist_order_items_dataset.csv')
df_reviews = pd.read_csv(r'C:\Users\user\Desktop\ekta\DBDA_CDAC\Project\olist_order_reviews_dataset.csv')
df_orders = pd.read_csv(r'C:\Users\user\Desktop\ekta\DBDA_CDAC\Project\olist_orders_dataset.csv')
df_products = pd.read_csv(r'C:\Users\user\Desktop\ekta\DBDA_CDAC\Project\olist_products_dataset.csv')
df_geolocation = pd.read_csv(r'C:\Users\user\Desktop\ekta\DBDA_CDAC\Project\olist_geolocation_dataset.csv')
df_sellers = pd.read_csv(r'C:\Users\user\Desktop\ekta\DBDA_CDAC\Project\olist_sellers_dataset.csv')
df_order_pay = pd.read_csv(r'C:\Users\user\Desktop\ekta\DBDA_CDAC\Project\olist_order_payments_dataset.csv')
df_customers = pd.read_csv(r'C:\Users\user\Desktop\ekta\DBDA_CDAC\Project\olist_customers_dataset.csv')
df_category = pd.read_csv(r'C:\Users\user\Desktop\ekta\DBDA_CDAC\Project\product_category_name_translation.csv')
print(df_item.head())

                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

   shipping_limit_date   price  freight_value
0  2017-09-19 09:45:35   58.90          13.29
1  2017-05-03 11:05:13  239.90          19.93
2  2018-01-18 14:48:30  199.00          17.87
3  2018-08-15 10:10:18   12.99          12.79
4  2017-02-13 13:57:51  199.90          18.14

### Merging Dataset

In [3]:
df_train = df_orders.merge(df_item, on='order_id', how='left')
df_train = df_train.merge(df_order_pay, on='order_id', how='outer', validate='m:m')
df_train = df_train.merge(df_reviews, on='order_id', how='outer')
df_train = df_train.merge(df_products, on='product_id', how='outer')
df_train = df_train.merge(df_customers, on='customer_id', how='outer')
df_train = df_train.merge(df_sellers, on='seller_id', how='outer')

print(df_train.shape)

(119143, 39)

In [4]:
def resumetable(df):
    print(f"Dataset Shape: {df.shape}")
    summary = pd.DataFrame(df.dtypes,columns=['dtypes'])
    summary = summary.reset_index()
    summary['Name'] = summary['index']
    summary = summary[['Name','dtypes']]
    summary['Missing'] = df.isnull().sum().values    
    summary['Uniques'] = df.nunique().values
    summary['First Value'] = df.loc[0].values
    summary['Second Value'] = df.loc[1].values
    summary['Third Value'] = df.loc[2].values

    for name in summary['Name'].value_counts().index:
        summary.loc[summary['Name'] == name, 'Entropy'] = round(stats.entropy(df[name].value_counts(normalize=True), base=2),2) 

    return summary

def cross_heatmap(df, cols, normalize=False, values=None, aggfunc=None):
    temp = cols
    cm = sns.light_palette("green", as_cmap=True)
    return pd.crosstab(df[temp[0]], df[temp[1]], 
                       normalize=normalize, values=values, aggfunc=aggfunc).style.background_gradient(cmap = cm)

In [5]:
resumetable(df_train)

Dataset Shape: (119143, 39)

,Name,dtypes,Missing,Uniques,First Value,Second Value,Third Value,Entropy
0,order_id,object,0,99441,e481f51cbdc54678b7cc49136f2d6af7,e481f51cbdc54678b7cc49136f2d6af7,e481f51cbdc54678b7cc49136f2d6af7,16.46
1,customer_id,object,0,99441,9ef432eb6251297304e76186b10a928d,9ef432eb6251297304e76186b10a928d,9ef432eb6251297304e76186b10a928d,16.46
2,order_status,object,0,8,delivered,delivered,delivered,0.25
3,order_purchase_timestamp,object,0,98875,2017-10-02 10:56:33,2017-10-02 10:56:33,2017-10-02 10:56:33,16.44
4,order_approved_at,object,177,90733,2017-10-02 11:07:15,2017-10-02 11:07:15,2017-10-02 11:07:15,16.28
5,order_delivered_carrier_date,object,2086,81018,2017-10-04 19:55:00,2017-10-04 19:55:00,2017-10-04 19:55:00,16.03
6,order_delivered_customer_date,object,3421,95664,2017-10-10 21:25:13,2017-10-10 21:25:13,2017-10-10 21:25:13,16.40
7,order_estimated_delivery_date,object,0,459,2017-10-18 00:00:00,2017-10-18 00:00:00,2017-10-18 00:00:00,8.47
8,order_item_id,float64,833,21,1.0,1.0,1.0,0.72
9,product_id,object,833,32951,87285b34884572647811a353c7ac498a,87285b34884572647811a353c7ac498a,87285b34884572647811a353c7ac498a,13.63
10,seller_id,object,833,3095,3504c0cb71d7fa48d967e0e4c94d59d9,3504c0cb71d7fa48d967e0e4c94d59d9,3504c0cb71d7fa48d967e0e4c94d59d9,9.48
11,shipping_limit_date,object,833,93318,2017-10-06 11:07:15,2017-10-06 11:07:15,2017-10-06 11:07:15,16.34
12,price,float64,833,5968,29.99,29.99,29.99,9.58
13,freight_value,float64,833,6999,8.72,8.72,8.72,10.51
14,payment_sequential,float64,3,29,1.0,3.0,2.0,0.34
15,payment_type,object,3,5,credit_card,voucher,voucher,1.10
16,payment_installments,float64,3,24,1.0,1.0,1.0,2.47
17,payment_value,float64,3,29077,18.12,2.0,18.59,13.98
18,review_id,object,997,98410,a54f0611adc9ed256b57ede6b6eb5114,a54f0611adc9ed256b57ede6b6eb5114,a54f0611adc9ed256b57ede6b6eb5114,16.44
19,review_score,float64,997,5,4.0,4.0,4.0,1.77
20,review_comment_title,object,105154,4527,NaN,NaN,NaN,9.97
21,review_comment_message,object,68898,36159,"Não testei o produto ainda, mas ele veio corre...","Não testei o produto ainda, mas ele veio corre...","Não testei o produto ainda, mas ele veio corre...",14.69
22,review_creation_date,object,997,636,2017-10-11 00:00:00,2017-10-11 00:00:00,2017-10-11 00:00:00,8.77
23,review_answer_timestamp,object,997,98248,2017-10-12 03:43:48,2017-10-12 03:43:48,2017-10-12 03:43:48,16.44
24,product_category_name,object,2542,73,utilidades_domesticas,utilidades_domesticas,utilidades_domesticas,4.72
25,product_name_lenght,float64,2542,66,40.0,40.0,40.0,5.03
26,product_description_lenght,float64,2542,2960,268.0,268.0,268.0,10.44
27,product_photos_qty,float64,2542,19,4.0,4.0,4.0,2.17
28,product_weight_g,float64,853,2204,500.0,500.0,500.0,7.62
29,product_length_cm,float64,853,99,19.0,19.0,19.0,5.02
30,product_height_cm,float64,853,102,8.0,8.0,8.0,5.09
31,product_width_cm,float64,853,95,13.0,13.0,13.0,4.80
32,customer_unique_id,object,0,96096,7c396fd4830fd04220f754e42b4e5bff,7c396fd4830fd04220f754e42b4e5bff,7c396fd4830fd04220f754e42b4e5bff,16.38
33,customer_zip_code_prefix,int64,0,14994,3149,3149,3149,13.10
34,customer_city,object,0,4119,sao paulo,sao paulo,sao paulo,8.13
35,customer_state,object,0,27,SP,SP,SP,3.07
36,seller_zip_code_prefix,float64,833,2246,9350.0,9350.0,9350.0,8.92
37,seller_city,object,833,611,maua,maua,maua,5.99
38,seller_state,object,833,23,SP,SP,SP,1.66

### organizing in proper manner

In [6]:
id_cols = ['order_id', 'seller_id', 'customer_id', 'order_item_id', 'product_id', 
           'review_id', 'customer_unique_id', 'seller_zip_code_prefix']
#categorical columns
cat_cols = df_train.nunique()[df_train.nunique() <= 27].keys().tolist()
# cat_cols = [x for x in cat_cols if x not in target_col]

#numerical columns
num_cols = [x for x in df_train.columns if x not in cat_cols + id_cols]

#Binary columns with 2 values
bin_cols = df_train.nunique()[df_train.nunique() == 2].keys().tolist()

#Columns more than 2 values
multi_cols = [i for i in cat_cols if i not in bin_cols]